@import  "fonts", "normalize", "icon", "slick", "probar", "slick-theme";
@mixin text-style {
     margin-top: 40px;
    font: {
        family: "OpenSans Regular";
    }
    color: #81868e;
    line-height: 1.8;
    word-spacing: 3.5px;
}

@mixin title-style {
    font: {
        family: "SourceSansPro Light";
        size: 1.25rem; 
        weight: 300;   
    }
    color: #333b46;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 3px;
}
    
@mixin works-style {
    display: block;
    z-index: -2;
    bottom: -400px;
    -webkit-transition: all .01s;
    transition: all .01s;
}

@mixin works-paragraph {
    width: auto;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    bottom: 50%;
    left: 50%;
    font-family: "SourceSansPro Light";
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #fff;
    z-index: 100;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);    
}

@mixin opacity {
    width: 100%;
    height: 100%;
    background-color: rgba(24, 22, 22, 0.8);
    position: absolute;
}

@mixin text-bar {
    position: absolute;
    top:50%;
    right: 50%;
}

@mixin probar  {
    padding: 28px 0;;
    p {
        @include text-style;
        margin: 0;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        text-transform: uppercase;
    }

    span {
        @include text-style;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;

    }
}

body {
    font-size: 16px;
    background-color: #f3f3f3;
}

section {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 75px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;   
}    

.about {
    background:  url(../images/navbar_bg.png) no-repeat center, url(../images/header_bg.jpg) no-repeat center;
    background-size: cover, cover;
    color: #fff;
    padding: 16px 0 78px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;

    .container {
        max-width: 1190px;
        margin: 0 auto;
        padding: 0 15px;
        padding-bottom: 330px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;
        position: relative;
    }    

    h1 {
        margin-top: 192px;
        font: {
            family: "SourceSansPro Light";
            size: 2.19rem;     
            weight: 300;  
        }
        text-transform: uppercase;
        letter-spacing: 6px;
        word-spacing: 7px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    p {
        width: 645px;
        margin: 0;
        margin-top: 30px;
        font: {
            family: "OpenSans Regular";
            size: 1rem;
            weight: 200;
        }      
        text-align: center;
        word-spacing: 4px;
        line-height: 1.5;
    }

    .button {
        padding: 10px;
        position: absolute;
        bottom: 0%;
        right: 50%;
        border: 1px solid #19bd9a;
        border-radius: 50%;
        background-color: #19bd9a;
        &:hover {
            opacity: .9;
            
            -webkit-animation: angle .5s ease-in ;
            
                    animation: angle .5s ease-in ;
        }
    }  
}

.burger-link {
    position: fixed;
    height: 20px;
    width: 20px;
    top: 6%;
    right: 8%;
    background-color: transparent;
    display: block;
    border-radius: 50%;
    padding: 10px;
    z-index: 10;

    &:active {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        -webkit-transition: .4s;
        transition: .4s;
    }

    span {
        display: block;
        height: 2px;
        width: 20px;
        background: #fff;
        position: absolute;
        top: 50%;
        right: 50%;
        -webkit-transform: translate(50%, -50%);
                transform: translate(50%, -50%);

        &::before {
            content: "";
            display: block;
            height: 2px;
            width: 20px;
            background: #fff;
            position: absolute;
            bottom: 5px;
            right: 0%;
        }

        &::after {
            content: "";
            display: block;
            height: 2px;
            width: 20px;
            background: #fff;
            position: absolute;
            top: 5px;
            left: 0%;
        }
    }
}


.burger-link-active {
    span {

        &::before{
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
            bottom: 0px;
        }
    }   
}

.burger-link-active {
    span {

        &::after{
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
            top: 0px;
        }
    }
}

.burger-link-active {
    span {

       background-color: transparent;
    }
}

@-webkit-keyframes angle {
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }   
}

@keyframes angle {
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }   
}

header {
    width: 100%;
    height: 75px;
    padding: 0px 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 5;
    position: fixed;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #19bd9a;
    opacity: .9;
}    

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font: {
        family: "Big John";
        size: 1.56rem;
    }
    color: #fff;
    &:hover {
        opacity: .8;
    }
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
 
    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font: {
            family: "OpenSans Regular";
            size: 1rem;
        }

        a {
            padding: 5px 18px;
            display: block;
            color: #fff;
            border: 1px solid transparent;
            border-radius: 40px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            
            &:hover {
                border: 1px solid #fff;
                border-radius: 40px;  
            }
            box-sizing: border-box;
        }

        .active {
            border: 1px solid #fff;
            border-radius: 40px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.about-us {
    background-color: #fff;
    .container {
        max-width: 835px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
        justify-content: space-between;
    }

.about-us-main {
    width: 475px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }

    h2 {
       @include title-style;
       margin-top: 32px;
    }

    p {
        margin-top: 40px;
        font: {
            family: "OpenSans Regular";
            size: 0.88rem;
        }
        color: #81868e;
        line-height: 1.8;
        word-spacing: 3.5px;
    }

    a {
        margin-top: 31px;
        padding: 8px 30px;
        display: inline-block;
        border: 1px solid #333b46;
        border-radius: 40px;
        color: #333b46;

        &:hover {
            background-color: #19bd9a;
            color: #fff;
            border-color: #19bd9a;
        }
    }
}


button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.about-us-details {
    background-color: #f3f3f3;

    .container {   
        -webkit-box-orient: vertical;   
        -webkit-box-direction: normal;   
            -ms-flex-direction: column;   
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 1030px;
        padding-bottom: 98px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    h2 {
        @include title-style;
        letter-spacing: 3px;
        word-spacing: 3px;
    } 

    .vero {
        @include text-style;
        width: 520px;
        margin-top: 30px;
        padding: 0 5px;
        text-align: center;
        font-size: 0.87rem;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .btn {
        width: 232px;
        margin-top: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0 8px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;  
    }

    .mouse-btn {
        padding: 18px 16px;
    }

    button {
        padding: 18px;
        background-color: #81868e;
        border-radius: 50%;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;

        &:hover {
                    
            background-color: #19bd9a;
        }

        &:focus {
             background-color: #19bd9a;
        } 
    } 
            
    h3 {
        @include title-style;
        margin-top: 40px;
        font-size: 1.25rem;
        text-transform: none;
        word-spacing: -2px;
        letter-spacing: 2px;
        font-weight: bold;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .first-block {
        width: 332px;
        padding-right: 15px;
        font-size: 1rem; 
         -webkit-box-sizing: border-box; 
                 box-sizing: border-box;                                                                 
    }

    .second-block {
        width: 568px;
        padding-right: 65px;
        padding-left: 20px;
        font-size: 0.85rem;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
}

.ideas {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    p {
        @include text-style;
        padding: 0;
        text-align: left;
    }

    span {
        color: #19bd9a;
    }
}

.featured-work {
    background-color: #fff;
    .container {
        max-width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 75px 0 0;
        
        -webkit-box-align: center;
        
            -ms-flex-align: center;
        
                align-items: center;  
        -webkit-box-sizing: border-box;  
                box-sizing: border-box;
        position: relative;
    }

    h2 {
        @include title-style;   
    }
     p {
        @include text-style;
        width: 470px;
        padding: 0 15px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-size: 0.85rem;
        text-align: center;
    }
    
    .works {
        width: 100%;
        height: 320px;
        margin-top: 64px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        background-color: #242425;
        cursor: pointer;
    }  

    .featured-1 {
        width: 100%;
        position: relative;
        background: url(../images/whiskey.png) no-repeat center;
        background-size: cover;
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        -webkit-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
      
        &::before {
            content: "";
            @include opacity;
        }

        &:hover {
            background: url(../images/3rd2.png) no-repeat center;
            background-size: cover;
            width: 200%;
            -webkit-filter: none;
                    filter: none;
            
            &::before {
                content: "";
                background-color: transparent;
            } 

            .whiskey {
                @include works-style;
            } 
        }   
    }    

    .whiskey {
        @include works-paragraph;
            
    }

    .featured-2 {
        width: 100%;
        position: relative;
        background: url(../images/whiskey_2.png) no-repeat center;
        background-size: cover;
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        -webkit-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
      
        &::before {
            content: "";
            @include opacity;
        }   

        &:hover {
            background: url(../images/whiskey_22.png) no-repeat center;
            background-size: cover;
            width: 200%;
            -webkit-filter: none;
                    filter: none;
           
            &::before {
                content: "";
                background-color: transparent;
            } 

            .vintage {
                @include works-style
            }
        }   
    }    

    .vintage {
        @include works-paragraph;
    }
    
    .featured-3 {
        width: 100%;
        position: relative;
        background: url(../images/1rd3_branding.png) no-repeat center;
        background-size: cover;
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
     
        &::before {
            content: "";
            @include opacity;
        } 

        &:hover {
            background: url(../images/branding2.png) no-repeat center;
            background-size: cover;
            width: 200%;
            -webkit-filter: none;
                    filter: none;

            &::before {
                content: "";
                background-color: transparent;
            } 

            .branding {
                @include works-style;
            }
        }   
    }    

    .branding { 
           
        @include works-paragraph;
    }
}

.fold-footer {
    width: 100%;
    padding: 22px 15px;
    background:  url(../images/fold_footer.png) no-repeat center, #19bd9a,;
    // background-color: #19d9a;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    p {
        @include text-style;
        width: auto;
        margin: 0;
        font-size: 1.25rem;
        color: #fff;
    }

    a {
        padding: 5px 25px;
        display: block;
        color: #fff;
        background-color: #19bd993f;
        border: 1px solid #fff;
        border-radius: 40px;
        font: {
            family: "OpenSans Regular";
            size: 1rem;
        }

        &:hover {
            background-color: #fff;
            color: #000; 
        }
        
    }

}

.our-services {
    .container {
        display: block;

        > p {
            width: 470px;
            margin-top: 32px;
            margin: 0 auto;
            margin-top: 40px;
            text-align: center;
        }
    }

    p {
        
        margin-top: 30px;
        font-family: "OpenSans Regular";
        font-size: .85rem;
        color: #81868e;
        line-height: 1.8;
        word-spacing: 3.5px;
        padding: 0;
    }

    span {
        color: #19bd9a;
    }

    h3 {
        @include title-style;
        font-size: 1.25rem;
        text-transform: none;
        word-spacing: -2px;
        letter-spacing: 2px;
        font-weight: bold;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    li {
        padding: 18px;
        background-color: #81868e;
        border-radius: 50%;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;

        &:hover {
            opacity: .8;
            
        }
    }

    button {
        background-color: transparent;
    }

    h2 {
        font-family: "SourceSansPro Light";
        font-size: 1.25rem;
        font-weight: 300;
        color: #333b46;
        text-transform: uppercase;
        letter-spacing: 3px;
        word-spacing: 3px;
        text-align: center; 
    }

    .active-btn-tab {
        background-color: #19bd9a;
    }

    .service {
        display: none;
        width: 404px;
    }

    .active-tab {
        display: block;
    }

    .list {
        height: 325px;
        padding: 20px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
      
    }
} 

.menu-copy {
    margin-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    cursor: pointer;
}

.progress-bar {
    width: 454px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    transition: all 200ms ease-in;
    opacity: 0;        
}


.my-bar1 {
    position: relative;

    span {
        @include text-bar;
        top: 28%;
        right: 50%;
        -webkit-transform: translate(50%, 50%);
                transform: translate(50%, 50%)
    }
   
    p {
        @include text-style;
        margin-top: 20px;
        text-align: center;
        font-size: 1rem;
    }
}


.my-bar2 {
    position: relative;

    span {
        @include text-bar;
        top: 28%;
        right: 50%;
        -webkit-transform: translate(50%, 50%);
                transform: translate(50%, 50%)
    }
   
    p {
        @include text-style;
        margin-top: 20px;
        text-align: center;
        font-size: 1rem;
    }
}

.my-bar3 {
    position: relative;

    span {
        @include text-bar;
        top: 28%;
        right: 50%;
        -webkit-transform: translate(50%, 50%);
                transform: translate(50%, 50%)
    }
   
    p {
        @include text-style;
        margin-top: 20px;
        text-align: center;
        font-size: 1rem;
        text-transform: uppercase;
    }
}

.team-quotes {
    background-color: #000;
    position: relative;

    &::after {
        content: "";
        background: url(../images/person.png) no-repeat center;
        background-size: cover;
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
    }

    .container {
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        &::before {
            content: url(../images/display.png);
            position: absolute;
            top: -40px;
            right: 0;
            z-index: 2;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &::after {
            content: url(../images/Bouncy.png);
            position: absolute;
            top: 75px;
            right: 140px;;
            z-index: 3;
            background-size: cover;
            background-repeat: no-repeat;

        }

        .last-team {
            margin-top: 0;
        }
    }

    p {
        @include text-style;
        width: 50%;
        font-size: 1rem;
    }

    h2 {
        @include title-style;
        color: rgb(243, 243, 243);
    }  

    span {
        color: #19bd9a;
    }
}

.portfolio {
    .container {
        display: block;
    }
    h2 {
        @include title-style;
        text-align: center;
    }

    p {
        @include text-style;
        width: 470px;
        margin: 0 auto;
        margin-top: 45px;;
        text-align: center;  
    }

    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 0 66px;
        margin-top: 85px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font: {
            family: "OpenSans Regular";
            size: 1rem;
        }

        li {
            cursor: pointer;
        }

        a {
            display: block;
            border-bottom: 1px solid transparent;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            color: #333b46;
            
            &:hover {
                border-bottom: 2px solid #19bd9a;
            }
            box-sizing: border-box;
        }

        .active {
            border-bottom: 2px solid #19bd9a;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }
    }

    .group1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    } 
}

.photo-list {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, 70px);
    grid-gap: 10px;
    
    img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    }

    .photo-item1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 5;
    }   

    .photo-item2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .photo-item3 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .photo-item4 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .photo-item5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 10;
    }

    .photo-item6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 7;
    }
    .photo-item7 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 8;
    }
    .photo-item8 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 9;
    }

    .photo-item9 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 13;
    }

    .photo-item10 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 13;
    }

    .photo-item11 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 13;
    }

    .photo-item12 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 13;
    }
}


.portfolio-cta {
    padding: 7px 0 115px;
    position: relative;
    background: url(../images/blog.png) no-repeat center;
    background-color: #19bd9a;

    p {
        width: auto;
        @include text-style;
        color: #fff;
        font-size: 1.2rem;
    }

    button {
        padding: 5px 25px;
        position: absolute;
        top: 65%;
        right: 50%;
        -webkit-transform: translate(50%, -50%);
                transform: translate(50%, -50%);
        display: block;
        color: #fff;
        background-color: #19bd993f;
        border: 1px solid #fff;
        border-radius: 40px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font: {
            family: "OpenSans Regular";
            size: 1rem;
        } 

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

.team {
    padding-top: 75px;
    background: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    .container {
        width: 1030px;
        padding: 0 15px 170px;
        display: block;
    }

    h2 {
        @include title-style;
        margin: 0 auto;
        text-align: center;
    }

    p {
        @include text-style;
        width: 470px;
        margin: 0 auto;
        margin-top: 45px;;
        text-align: center;
    }
}

.team-data {
        width: 100%;
        background: url(../images/men.png) no-repeat left;
        padding: 0 0 58px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    
    #progressbar1  {
        width: 330px;
        position: relative;
    }   

    .percentCount {
        margin: 0;
        margin-top: 40px;
        position: absolute;
        right: 0;
        bottom: 15px;
        
        font: {
            family: "OpenSans Regular";
        }
        color: #81868e;
        line-height: 1.8;
        word-spacing: 3.5px; 
    }

    #progressbar2 {
        width: 330px;
        margin-top: 56px;
        position: relative;
    }

    #progressbar3 {
        width: 330px;
        margin-top: 56px;
        position: relative;
    }
}   

.person {
    margin-top: 30px;
    .name{
        font: {
            family: "OpenSans Regular";
            size: 1.25rem;
            weight: bold;
        }   
    }

    .position {
        text-transform: uppercase;
       
        font: {
            family: "SourceSansPro Light";
            size: 1.25rem;
            style: italic;
            
        } 
    }

    p {
        margin: 0;
        text-align: right;
    }
}

.probar {
    margin-top: 48px;
    position: relative;
    

    p {
        width: auto;
        position: absolute;
        text-align: left;
        text-transform: uppercase;
    }
    .skill1 {
        
       bottom: 170px;
        left: 0;
    }
    .skill2 {
        bottom: 108px;
        left: 0;
     }
     .skill3 {
        bottom: 45px;
        left: 0;
     }
}

.progress {
    transition: all 200ms ease-in;
    opacity: 0;
}

.js-probar {
    opacity: 1;
}

.probarActive {
    opacity: 1;
}

.team-cta {
    padding: 58px 15px 122px;
    position: relative;
    background: url(../images/team.png) no-repeat center;
    background-size: cover;
    background-color: #000;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
 
    p {
        margin: 0 auto;
        
        text-transform: capitalize;
        color: #fff;
    }

    button {
        padding: 5px 25px;
        position: absolute;
        top: 120px;
        right: 50%;
        display: block;
        color: #fff;
        background-color: #19bd993f;
        border: 1px solid #fff;
        border-radius: 40px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
            font: {
                family: "OpenSans Regular";
                size: 1rem;
            } 
        -webkit-transform: translate(50%, -50%); 
                transform: translate(50%, -50%);  

        &:hover {
            background-color: #fff; 
            color: #000; 
        } 
    }
}

.testimonials {
  
    .container {
        display: block;
        text-align: center;
        h2 {
            @include title-style;
            margin: 0 auto;
        }
        p {
            @include text-style;
        }
    }

    .comment  {
        margin-top: 40px;
        padding: 45px 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        background-color: #fff;

        p {
            margin-top: 0;
            padding-left: 40px;
            text-align: left;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }

        span {
            font-weight: bold;
            color: #19bd9a;
        }
    }

    .test-comment1{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 0px 129px;
        text-align: left;
    }
    img {
        width: 130px;
        height: 130px;
    }
}

.slick-active {
    color: #19bd9a;
}

 li .presentation {
     font-size: 0;
 }

.contact-us {
    .container {
        display: block;
        text-align: center;

        h2 {
            @include title-style;
        }

        p {
            @include text-style;
        }
    }

    .contact-details {
        margin-top: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        p {
            @include text-style;
            margin: 0;
            margin-top: 25px;
            line-height: 1.5;
            text-transform: uppercase;
        }

        h2 {
        
            margin-top: 30px;
            font-weight: bold;
        }
    }
    img {
        display: block;
        margin: 0 auto;
    }

   .email {background-color: #fff;}
   .our-office {background-color: #fff;}
   .phone {background-color: #fff;}
}

.email {
    width: 287px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
            box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
    span {
        position: absolute;
        top: 30%;
        left: 50%;
    }
    
    .info {
        padding: 0 35px 30px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
}

.our-office {
    width: 287px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
            box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
    span {
        position: absolute;
        top: 30%;
        left: 50%;
    }

    .info {
        padding: 0 15px 30px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    img {
        height: 224px;
    }
}

.phone {
    width: 287px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
            box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
    span {
        position: absolute;
        top: 30%;
        left: 50%;
    }

    .info {
        padding: 0 55px 30px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
}

.contact-form {
    background: url(../images/Black-&-White-62.jpg) no-repeat center;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .container {
        padding: 80px 15px 130px;
        width: 970px;
    }

    form {
        z-index: 2;
        width: 100%;
        position: relative;
        top:0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    input {
        padding: 0 20px;
        display: block;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        height: 40px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;

        &:hover {
            opacity: .7;
        }
    }

    textarea {
        width: 100%;
        margin-top: 30px;
        padding: 5px 20px;
        resize: none;
        display: block;
        background: transparent;
        border: 1px solid #fff;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        color: #fff;

        &:hover {
            opacity: .7;
        }
    }

    [type= "submit"] {
        margin-top: 30px;
        width: 100%;
        background-color: #19bd9a;  
        z-index: 3;
        text-transform: uppercase;
        border: 1px solid #19bd9a;
        font-family: "OpenSans Regular";
        word-spacing: 3.5px;
        cursor: pointer;
    } 

    h2 {
        font-size: 0;
    }
}

footer {
    background-color: #fff;
    .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        h2{
            @include title-style;
            font-family: "BIG JOHN";
            font-size: 1.56rem;
        }
        p {
            @include text-style;
            margin-top: 25px;
        }
    }
}

.icon {
    margin-top: 40px;
    a {
        border-radius: 50%;
        padding: 7px 8px;

        &:hover {
            opacity: .7;
        }
    }
    .facebook {
        padding: 7px 12px;
        background-color: #3b5998;
    }

    .in {
        padding: 7px 9px;
    }
}

.twitter {
    background-color:#26a6d1;
}
.in {
    background-color:#0e76a8;
}
.inst {
    background-color:#45769e;
}
.vk {
    background-color:#86c9ef;
}

.slik-prev {
    display: none;
}

.photo-list {
    a {
        display: block;
        width: 100%;
        height: 100%;
        
    }
}

.disabled {
    pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.active-tab {
    pointer-events: auto;
    cursor: pointer;
    opacity: 1;
}


@media all and (max-width: 1046px) {
    .team {
        .container {
            width: auto;
        } 
    }

    .contact-form {
        .container {
            width: auto;
        }
    }
} 

@media all and (min-width: 960px) {
    .burger-link {
        display: none;
    }
}

@media all and (max-width: 980px) and (min-width: 930px) {
    .our-services {
        .progress-bar {
            width: 395px;
        } 
    }
} 

@media all and (max-width: 960px)  {
    header {
        height: auto;
        padding: 0;
        display: block;

        ul {
            display: block;
            margin: 0 auto;
        }
    }

    .myMenu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: -100%;
        -webkit-transition: .5s;
        transition: .5s;
    }

    .menu-active {
        top:0;
        background-color: #19bd9991;
        z-index: 10;
    }

    .logo {
        position: absolute;
        top: 6%;
        left: 10%;
        display: inline-block;
    }

    .burger-link-active {
    background-color: #19bd9a;
    z-index: 11;
    }

    .sticky {
        top: 24px;
        width: 20px;
    }
}

@media all and (max-width: 940px)  {
   
    .fold-footer {
        p {
            padding: 0 2px;
            font-size: 1rem;
        } 
    }

    .button {
        padding: 5px 15px;
    }

    .menu-copy {
        display: block;
        text-align: center;

        p {
            padding: 0;
        }

        .list {
            width: 325px;
            height: auto;
            margin: 0 auto;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        .service {
            width: auto;
            height: 230px;
            margin: 0 auto;
            padding: 0 30px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }

        .progress-bar {
            margin: 15px auto 0;

        }
    }   

    .ideas {
        .second-block {
            margin-left: 15px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }
    }

    .contact-us {
        .contact-details {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; 
        }

        .our-office {margin: 0 10px;}  
        .phone {margin: 15px auto 0;}     
    } 
} 

@media all and (max-width: 870px)  {
    .team-quotes {
        .container {
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }

            p {
                width: auto;
            }
        }
    }
}

@media all and (max-width: 780px)  {

    .about {
        p {
            width: 630px;
        }
    }
    nav {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .fold-footer {

        p {
            font-size: .8rem;
        }

        a {
            font-size: .8rem;
            padding: 3px 14px; 
        }
    }

    .portfolio-cta {
        p {
            font-size: .9rem;
        }
    }

    .team-data {
        background-size: 180px;
    }

    .team {
        .container {
            padding: 0 15px;
        }
    }

    .team-cta {
        padding: 25px 15px 58px;

        button {
            top: 65%;
        }
    }

    .contact-form {
        form {
            display: block;            
        }

        input {
            width: 100%;
            margin-top: 8px;
        }
    }

    .photo-list {
        grid-template-rows: repeat(13, 30px);
    }

}

@media all and (max-width: 650px)  {
    .about {
        padding: 16px 0;

        .container {
            padding-bottom: 158px;
        }
        h1 {
            margin-top: 140px;
            font-size: 1.2rem;
            text-align: center;
        }

        p {
            width: auto;
            padding: 0 21px;
            font-size: .7rem;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }

        .button {
            display: none;
        }
    }

    .about-us {
        .container {
            padding: 20px 15px;
        }

        a {
            &:active {
                background-color: #19bd9a;
                color: #fff;
                border-color: #19bd9a;
            }
        }
        img {
            display: none;
        }

        .about-us-main {
            width: auto;
            text-align: center;
            p {
                text-align: justify;
            }
        }
    } 

    .about-us-details {
        .container {
             padding: 50px 15px;
        }
            
        .vero {
            width: auto;
            margin-top: 30px;
            font-size: .7rem;
        }

        .btn {
            margin-top: 14px;
        }
    }

    .ideas {
        .first-block {
            width: auto;
            padding-right: 0;
            text-align: justify;
            font-size: .7rem;
        }

        .second-block {
            width: auto;
            padding-right: 0;
            text-align: justify;
            font-size: .7rem;
        }
    }

    .fold-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .our-services {
        .container {

            & > p {
                width: auto;
            }
        }

        .service {
            height: 255px;
        }

        p {
             width: auto;
            margin-top: 8px;
            text-align: justify;
            font-size: .7rem;
        }

        .progress-bar {
            display: none;
        }
    }

    .portfolio {
        p {
            width: auto;
            margin-top: 15px;
            font-size: .7rem;
        }

        ul {
            margin-top: 35px;
            padding: 0;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            font-size: .7rem;
        }

        li {
            margin: 0 5px;
        }
    }

    .photo-list {
        margin-top: 20px;
        grid-template-rows: repeat(13, 15px);
    }

    .menu-copy {
        margin-top: 5px;
        .list {
            -ms-flex-pack: distribute;
                justify-content: space-around;
        }
    }
    .portfolio-cta {
        padding: 45px 0 58px;
        p {
            margin: 0;
            padding: 0 15px;
            box-sizing: border-box;
            font-size: .7rem;
        }

        button {
            top: 70%;
            font-size: .7rem;
        }
    }

    .team {
        padding-top: 25px;

        p {
            width: auto;
            margin-top: 10px;
            font-size: .7rem;
        }
    }

    .team-data {
        padding: 0;
        background: none;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        #progressbar1 {
            width: 290px;
        }

        #progressbar2 {
            width: 290px;
        }

        #progressbar3 {
            width: 290px;
        }
    }

    .team-cta {
        button {
            font-size: .7rem;
        }
    }

    .person {
        .name {
            font-size: 1rem;
        }
        .position {
            font-size: 1rem;
        }
    }

    .person {
        p {
            text-align: center;
        }
    }

    .testimonials {

        .container {
            padding: 75px 15px 0;
        }

        .comment {
            display: block;

            p {
                font-size: .7rem;
            }
        }

        img {
            width: 90px;
            height: 90px;
        }
    }

    .contact-us {
        .contact-details {
            margin-top: 10px;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            div {
                margin: 15px auto 0;
            }
        }
    }

    .contact-form {
        .container {
            padding: 60px 15px 60px;
        }
    }

    footer {
        .container {
            padding: 30px 15px;
            p {
                text-align: center;
            }
        }
    }

    .featured-work {
        p {
            width: auto;
            margin-top: 20px;
            font-size: .7rem;
        }

        .works {
            margin-top: 25px;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }
    }
}

@media all and (max-width: 370px) {
    .menu-copy {
        .list {
            width: auto;
        }
    }
}
